.c-portfolio-box {
    text-align: center;  
    margin-bottom: $grid-base * 4;

    &__image {
        max-width: 100%;
        width: 100%;
        
        /*
        display: flex;
        justify-content: center; // wyś w poziomie
        //  Icon jpg height  
        max-height: 300px;
        width: 100%;
        margin-bottom: $grid-base * 2.5;    
        */  
        object-fit: cover;           
    }

    &__icon {
       //align-self: center; // wyś w pionie
        height: 370px;
        width: 100%; 
        display: block;
        object-fit: cover; 
        transition: .4s;
        
        @include medium-up {
            height: 200px;
        }
        @include large-up {
            height: 380px;
        }
        &:hover {            
	        transform: scale(1.1);
            transition: .4s;
            cursor: pointer;
        }
    }

    &__text {
        font-size: $font-size-5;
        //margin-top: $grid-base * 1.5;
    }
}