@charset "UTF-8";
*, *::before, *::after { box-sizing: border-box; }

body { background-color: #fff; color: #686868; font-family: 'Montserrat', sans-serif; font-size: 1rem; margin: 0; padding: 0; }

p { font-size: 0.875rem; font-family: "Lora", serif; font-weight: 400; line-height: 1.5; margin: 0; margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 { font-size: 1rem; line-height: 1.5; color: #222222; margin: 0; }

a { color: #222222; text-decoration: none; -webkit-transition: 0.5s ease; }

a:hover { color: #222222; text-decoration: underline; }

ul { margin: 0; padding: 0; }

ul li { font-size: 0.875rem; }

img { max-width: 100%; }

.o-col { width: 100%; padding-left: 15px; padding-right: 15px; }

@media (min-width: 768px) { .o-col--md1 { -ms-flex: 0 0 8.33%; flex: 0 0 8.33%; max-width: 8.33%; } }

@media (min-width: 768px) { .o-col--md2 { -ms-flex: 0 0 16.66%; flex: 0 0 16.66%; max-width: 16.66%; } }

@media (min-width: 768px) { .o-col--md3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; } }

@media (min-width: 768px) { .o-col--md4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; } }

@media (min-width: 768px) { .o-col--md5 { -ms-flex: 0 0 41.66%; flex: 0 0 41.66%; max-width: 41.66%; } }

@media (min-width: 768px) { .o-col--md6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } }

@media (min-width: 768px) { .o-col--md7 { -ms-flex: 0 0 58.33%; flex: 0 0 58.33%; max-width: 58.33%; } }

@media (min-width: 768px) { .o-col--md8 { -ms-flex: 0 0 66.66%; flex: 0 0 66.66%; max-width: 66.66%; } }

@media (min-width: 768px) { .o-col--md9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; } }

@media (min-width: 768px) { .o-col--md10 { -ms-flex: 0 0 83.33%; flex: 0 0 83.33%; max-width: 83.33%; } }

@media (min-width: 768px) { .o-col--md11 { -ms-flex: 0 0 91.66%; flex: 0 0 91.66%; max-width: 91.66%; } }

@media (min-width: 768px) { .o-col--md12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

@media (min-width: 1200px) { .o-col--lg1 { -ms-flex: 0 0 8.33%; flex: 0 0 8.33%; max-width: 8.33%; } }

@media (min-width: 1200px) { .o-col--lg2 { -ms-flex: 0 0 16.66%; flex: 0 0 16.66%; max-width: 16.66%; } }

@media (min-width: 1200px) { .o-col--lg3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; } }

@media (min-width: 1200px) { .o-col--lg4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; } }

@media (min-width: 1200px) { .o-col--lg5 { -ms-flex: 0 0 41.66%; flex: 0 0 41.66%; max-width: 41.66%; } }

@media (min-width: 1200px) { .o-col--lg6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } }

@media (min-width: 1200px) { .o-col--lg7 { -ms-flex: 0 0 58.33%; flex: 0 0 58.33%; max-width: 58.33%; } }

@media (min-width: 1200px) { .o-col--lg8 { -ms-flex: 0 0 66.66%; flex: 0 0 66.66%; max-width: 66.66%; } }

@media (min-width: 1200px) { .o-col--lg9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; } }

@media (min-width: 1200px) { .o-col--lg10 { -ms-flex: 0 0 83.33%; flex: 0 0 83.33%; max-width: 83.33%; } }

@media (min-width: 1200px) { .o-col--lg11 { -ms-flex: 0 0 91.66%; flex: 0 0 91.66%; max-width: 91.66%; } }

@media (min-width: 1200px) { .o-col--lg12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

.o-container { margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; width: 100%; }

@media (min-width: 768px) { .o-container { max-width: 740px; } }

@media (min-width: 1200px) { .o-container { max-width: 1200px; } }

.o-row { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -15px; margin-right: -15px; }

@media (min-width: 768px) { .o-row { -ms-flex-direction: row; flex-direction: row; } }

.o-row--center-y { -ms-flex-align: center; align-items: center; }

.c-btn { border: none; border-radius: 2px; display: inline-block; font-size-adjust: 0.875rem; font-weight: 700; line-height: 1.5; padding: .75rem 0; text-align: center; text-transform: uppercase; width: 220px; transition: all .25s ease-in-out; }

.c-btn:hover { text-decoration: none; }

.c-btn--primary { background-color: #fed136; color: #fff; }

.c-btn--primary:hover { background-color: #e6b301; color: #fff; }

.c-heading { color: #222222; line-height: 1.2; margin-bottom: 5px; }

.c-heading--level0 { font-size: 1.5rem; }

@media (min-width: 768px) { .c-heading--level0 { font-size: 4rem; } }

.c-heading--level1 { font-size: 1.5rem; }

@media (min-width: 768px) { .c-heading--level1 { font-size: 3rem; } }

.c-heading--level2 { font-size: 1.125rem; }

@media (min-width: 768px) { .c-heading--level2 { font-size: 1.5rem; } }

.c-heading--level3 { font-size: 1.125rem; }

.c-heading--level4 { font-size: 1rem; }

.c-heading--level5 { font-size: 0.875rem; }

.c-heading--upper { text-transform: uppercase; }

.c-heading--white { color: #fff; }

.c-nav__item { color: #fff; display: block; font-size: 1rem; padding-bottom: 7.5px; padding-top: 7.5px; text-align: center; text-transform: uppercase; width: 100%; transition: all 0.5s cubic-bezier(0.25, 0.25, 0, 0.25) 0s; position: relative; font-weight: 600; }

.c-nav__item:hover { color: #fff; text-decoration: none; }

.c-nav__item--underline-hover:before { content: ""; position: absolute; width: 100%; height: 2px; bottom: -3px; left: 0; background-color: #fed136; visibility: hidden; transform: scaleX(0); transition: all 0.5s cubic-bezier(0.25, 0.25, 0, 0.25) 0s; }

.c-nav__item--underline-hover:hover:before { visibility: visible; transform: scaleX(1); }

@media (min-width: 768px) { .c-nav__item { display: inline-block; margin-left: 25px; width: auto; } }

.c-icon-box { text-align: center; }

.c-icon-box__image { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; /*  Icon jpg height  */ height: 74px; margin-bottom: 25px; }

.c-icon-box__icon { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

.c-icon-box__text { font-size: 0.875rem; margin-top: 15px; }

.c-portfolio-box { text-align: center; }

.c-portfolio-box__image { max-width: 100%; width: 100%; /* display: flex; justify-content: center; // wyś w poziomie //  Icon jpg height   max-height: 300px; width: 100%; margin-bottom: $grid-base * 2.5;     */ -o-object-fit: cover; object-fit: cover; }

.c-portfolio-box__icon { height: 370px; width: 100%; display: block; -o-object-fit: cover; object-fit: cover; }

@media (min-width: 768px) { .c-portfolio-box__icon { height: 200px; } }

@media (min-width: 1200px) { .c-portfolio-box__icon { height: 380px; } }

.c-portfolio-box__text { font-size: 0.875rem; }

.t-site-header { background: url("../../images/hero.jpg") 0 0 no-repeat; background-size: cover; height: 90vh; }

.t-site-header__top { padding-bottom: 25px; padding-top: 45px; }

.t-site-header__menu { margin-top: 20px; }

@media (min-width: 768px) { .t-site-header__menu { margin-top: 0; text-align: right; } }

.t-site-header__hero { margin-top: 100px; }

@media (min-width: 768px) { .t-site-header__hero { margin-top: 260px; } }

.t-site-header__intro-text { font-family: "Lora", serif; font-weight: 400; font-style: italic; font-size: 24px; }

@media (min-width: 768px) { .t-site-header__intro-text { font-size: 36px; } }

.t-services { margin-top: 100px; margin-bottom: 100px; }

.t-services__header { text-align: center; }

.t-services__header p { font-size: 1.125rem; }

.object-fit_cover { -o-object-fit: cover; object-fit: cover; }

.u-mb-1 { margin-bottom: 10px; }

.u-mb-2 { margin-bottom: 20px; }

.u-mb-3 { margin-bottom: 30px; }

.u-mb-4 { margin-bottom: 40px; }

.u-mb-5 { margin-bottom: 50px; }

.u-mb-6 { margin-bottom: 60px; }

.u-mt-1 { margin-top: 10px; }

.u-mt-2 { margin-top: 20px; }

.u-mt-3 { margin-top: 30px; }

.u-mt-4 { margin-top: 40px; }

.u-mt-5 { margin-top: 50px; }

.u-mt-6 { margin-top: 60px; }

.u-text-lora { font-family: "Lora", serif; }

.u-text-italic { font-style: italic; }

.u-text-center { text-align: center; }

.u-text-right { text-align: right; }

.u-text-left { text-align: left; }

@media (min-width: 1200px) { .u-text-lg-right { text-align: right; } }

@media (min-width: 1200px) { .u-text-lg-left { text-align: left; } }

@media (min-width: 1200px) { .u-text-lg-left { text-align: left; } }

.u-bg-white { background-color: #fff; }

.u-bg-dark { background-color: #222222; }

.u-white { color: #fff; }

.u-primary { color: #686868; }
