*, *::before, *::after { box-sizing: border-box; }

body { background-color: #fff; color: #777777; font-family: 'Montserrat', sans-serif; font-size: 1rem; margin: 0; padding: 0; }

p { font-size: 0.875rem; font-weight: 400; line-height: 1.5; margin: 0; margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 { font-size: 1rem; line-height: 1.5; margin: 0; }

a { color: #222222; text-decoration: none; -webkit-transition: 0.5s ease; }

a:hover { color: #222222; text-decoration: underline; }

ul { margin: 0; padding: 0; }

ul li { font-size: 0.875rem; }

img { max-width: 100%; }

.o-col { width: 100%; padding-left: 15px; padding-right: 15px; }

@media (min-width: 768px) { .o-col--md1 { -ms-flex: 0 0 8.33%; flex: 0 0 8.33%; max-width: 8.33%; } }

@media (min-width: 768px) { .o-col--md2 { -ms-flex: 0 0 16.66%; flex: 0 0 16.66%; max-width: 16.66%; } }

@media (min-width: 768px) { .o-col--md3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; } }

@media (min-width: 768px) { .o-col--md4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; } }

@media (min-width: 768px) { .o-col--md5 { -ms-flex: 0 0 41.66%; flex: 0 0 41.66%; max-width: 41.66%; } }

@media (min-width: 768px) { .o-col--md6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } }

@media (min-width: 768px) { .o-col--md7 { -ms-flex: 0 0 58.33%; flex: 0 0 58.33%; max-width: 58.33%; } }

@media (min-width: 768px) { .o-col--md8 { -ms-flex: 0 0 66.66%; flex: 0 0 66.66%; max-width: 66.66%; } }

@media (min-width: 768px) { .o-col--md9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; } }

@media (min-width: 768px) { .o-col--md10 { -ms-flex: 0 0 83.33%; flex: 0 0 83.33%; max-width: 83.33%; } }

@media (min-width: 768px) { .o-col--md11 { -ms-flex: 0 0 91.66%; flex: 0 0 91.66%; max-width: 91.66%; } }

@media (min-width: 768px) { .o-col--md12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

@media (min-width: 1200px) { .o-col--lg1 { -ms-flex: 0 0 8.33%; flex: 0 0 8.33%; max-width: 8.33%; } }

@media (min-width: 1200px) { .o-col--lg2 { -ms-flex: 0 0 16.66%; flex: 0 0 16.66%; max-width: 16.66%; } }

@media (min-width: 1200px) { .o-col--lg3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; } }

@media (min-width: 1200px) { .o-col--lg4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; } }

@media (min-width: 1200px) { .o-col--lg5 { -ms-flex: 0 0 41.66%; flex: 0 0 41.66%; max-width: 41.66%; } }

@media (min-width: 1200px) { .o-col--lg6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } }

@media (min-width: 1200px) { .o-col--lg7 { -ms-flex: 0 0 58.33%; flex: 0 0 58.33%; max-width: 58.33%; } }

@media (min-width: 1200px) { .o-col--lg8 { -ms-flex: 0 0 66.66%; flex: 0 0 66.66%; max-width: 66.66%; } }

@media (min-width: 1200px) { .o-col--lg9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; } }

@media (min-width: 1200px) { .o-col--lg10 { -ms-flex: 0 0 83.33%; flex: 0 0 83.33%; max-width: 83.33%; } }

@media (min-width: 1200px) { .o-col--lg11 { -ms-flex: 0 0 91.66%; flex: 0 0 91.66%; max-width: 91.66%; } }

@media (min-width: 1200px) { .o-col--lg12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

.o-container { margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; width: 100%; }

@media (min-width: 768px) { .o-container { max-width: 740px; } }

@media (min-width: 1200px) { .o-container { max-width: 1200px; } }

.o-row { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -15px; margin-right: -15px; }

@media (min-width: 768px) { .o-row { -ms-flex-direction: row; flex-direction: row; } }

.c-btn { border: none; border-radius: 2px; display: inline-block; font-size-adjust: 0.875rem; font-weight: 700; line-height: 1.5; padding: .75rem 0; text-align: center; text-transform: uppercase; width: 220px; transition: all .25s ease-in-out; }

.c-btn:hover { text-decoration: none; }

.c-btn--primary { background-color: #fed136; color: #fff; }

.c-btn--primary:hover { background-color: #e6b301; color: #fff; }

.c-heading { color: #222222; line-height: 1.2; margin-bottom: 5px; }

.c-heading--level1 { font-size: 1.5rem; }

@media (min-width: 768px) { .c-heading--level1 { font-size: 3rem; } }

.c-heading--level2 { font-size: 1.125rem; }

@media (min-width: 768px) { .c-heading--level2 { font-size: 1.5rem; } }

.c-heading--level3 { font-size: 1.125rem; }

.c-heading--level4 { font-size: 1rem; }

.c-heading--level5 { font-size: 0.875rem; }

.c-heading--upper { text-transform: uppercase; }

.c-heading--white { color: #fff; }

.c-nav__item { color: #fff; display: block; font-size: 0.875rem; padding-bottom: 7.5px; padding-top: 7.5px; text-align: center; text-transform: uppercase; width: 100%; transition: all 0.5s cubic-bezier(0.25, 0.25, 0, 0.25) 0s; position: relative; font-weight: 400; }

.c-nav__item:hover { color: #fff; text-decoration: none; }

.c-nav__item--underline-hover:before { content: ""; position: absolute; width: 100%; height: 2px; bottom: -3px; left: 0; background-color: #fed136; visibility: hidden; transform: scaleX(0); transition: all 0.5s cubic-bezier(0.25, 0.25, 0, 0.25) 0s; }

.c-nav__item--underline-hover:hover:before { visibility: visible; transform: scaleX(1); }

@media (min-width: 768px) { .c-nav__item { display: inline-block; margin-left: 25px; width: auto; } }
