.t-site-header {
    background: url('../images/hero.jpg') 0 0 no-repeat;   
    background-size: cover;
    height: 90vh;   

    &__top {
        padding-bottom: $grid-base * 2.5;
        padding-top: $grid-base * 4.5;
    }

    &__menu {
        margin-top: $grid-base * 2;
        @include medium-up {
            margin-top: 0;
            text-align: right;
        }
    }

    &__hero {
        margin-top: $grid-base * 10;
        @include medium-up {
            margin-top: $grid-base * 26;
        }
    }
    &__intro-text {
        font-family: $font-lora;         
        font-weight: 400;  
        font-style: italic;  
        font-size: 24px; 
        @include medium-up {
            font-size: 36px;
        }       
    }
}